body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
  }

  .parentdiv{
    display: grid;
    width: inherit;
    height: inherit;
    grid-template-columns: repeat(2, 1fr);
  }
  .containerleft {
    display: flex;
    width: inherit;
    height: inherit;
    background: linear-gradient(to Right, #800000, #f2e8c6);
    justify-content: center;
    align-items: center;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  #container{
    width: 70%;
    height: auto;
    backdrop-filter: blur(5px); /* Blur effect behind the card */
    background: rgba(255, 255, 255, 0.1); /* White background with 10% opacity */
    border-radius: 1rem; /* Rounded corners for the card */
    border: rgba(0, 0, 0, .6);
    border-style: solid;
    border-width: .1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  #containerright {
    display: flex;
    width: inherit;
    height: inherit;
    overflow: hidden;
    justify-content: flex-end;
  }
  
  .navbar-maroon {
    background-color: #800000; /* Maroon background for the navbar */
  }
  
  .navbar-maroon .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .card {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: full;
  }
  .form{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  
  .loginbut {
      display: flex;
      align-items: center;
  }
  
  .btn-custom {
    background-color: white; /* Light background */
    border: 1px solid black; /* Black outline */
    color: black; /* Black text */
  }
  
  .btn-custom:hover {
    background-color: black; /* Change background on hover */
    color: white; /* Change text color on hover */
  }
  
  [type=text],
  [type=email],
  [type=number],
  [type=password],
  [type=mobileNumber],
  [type=newPassword],
  select,
  option {
    display: flex; /* Block display */
    border: 0; /* No border */
    border-bottom: 1px solid rgba(0, 0, 0, .2); /* Underline border */
    height: 45px; /* Input height */
    line-height: 45px; /* Line height */
    margin-bottom: 10px; /* Bottom margin */
    font-size: 1em; /* Font size */
    color: black; /* Text color */
    text-align: left; /* Align text to the left */
    padding-left: 10px; /* Add padding for better readability */
    border-radius: 15px;
    width: 100%;
  }
  
  [type=submit] {
    margin-top: 25px; /* Top margin */
    display: flex;
    border: 0; /* No border */
    background-color: #0080FF; /* Button background color */
    border-radius: 5px; /* Rounded corners */
    height: 40px; /* Button height */
    color: white; /* Text color */
    font-weight: 400; /* Font weight */
    font-size: 1em; /* Font size */
    text-align: center; /* Center the text inside the submit button */
    border-radius: 15px;
    width: 100%;
  }
  
  
  [type='text']:focus {
    outline: none; /* No outline on focus */
    border-color: #53CACE; /* Border color on focus */
  }
  
  h2 {
    color: red; /* Heading color */
    font-weight: 900; /* Font weight */
    font-size: 1em; /* Font size */
    margin-left: 1rem;
  }
  
  p {
    color: rgba(0, 0, 0, .6); /* Text color */
    font-size: 1em; /* Font size */
  }
  
  span {
    font-size: 1em; /* Font size */
    background-color: white; /* Background color */
    padding: 2px 5px; /* Padding */
    color: rgba(0, 0, 0, .6); /* Text color */
    border-radius: 2px; /* Rounded corners */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3); /* Shadow effect */
    margin: 5px; /* Margin */
  }
  
  span:hover {
    color: #53CACE; /* Change color on hover */
  }
  
  p:nth-of-type(2) {
    font-size: 1em; /* Font size for the second paragraph */
  }